[submodule "demo-0/cookiecutter-template"]
	path = demo-0/cookiecutter-template
	url = https://github.com/eviweb/cookiecutter-template.git
[submodule "demo-1/cookiecutter-python-app"]
	path = demo-1/cookiecutter-python-app
	url = https://github.com/mdklatt/cookiecutter-python-app
[submodule "demo-2/cookiecutter-kata-gtest"]
	path = demo-2/cookiecutter-kata-gtest
	url = https://github.com/13coders/cookiecutter-kata-gtest
[submodule "demo-3/cookiecutter-python-cli"]
	path = demo-3/cookiecutter-python-cli
	url = https://github.com/xuanluong/cookiecutter-python-cli
